<div class="hide" id="modal">
  <div class="modal__content">
    <div class="modal__header">
      <h1 class="modal__title">Pontos de Coleta</h1>
      <a href="#" class="modal__link">Fechar</a>
    </div>
    <form action="/search" class="modal__form">
      <label for="search" class="modal__form-label">Cidade</label>
      <div class="search fields">
        <input type="text" name="search" id="search" placeholder="Pesquise por cidade" class="modal__form-input">
        <button class="modal__form-button">
          <img src="/assets/search.svg" alt="Buscar">
        </button>
      </div>
    </form>
  </div>
</div>
