body {
  background-color: #ffffff;
}

body::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 16rem;
  background-color: #f0f0f5;
  z-index: -1;
}

#page-search-results {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
}

#page-search-results .create-point__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 48px;
}

#page-search-results .create-point__link {
  display: flex;
  align-items: center;
  font-weight: bold;
  color: var(--title-color);
}

#page-search-results .create-point__link span {
  display: flex;
  width: 20px;
  height: 20px;
  margin-right: 16px;
  background-image: url("../assets/arrow-left.svg");
}

main {
  margin: 48px;
}

main h4 {
  font-family: Roboto, sans-serif;
  font-weight: normal;
  margin-bottom: 32px;
}

main .cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

main .card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}

main .card h1 {
  margin-top: 32px;
  font-size: 36px;
  line-height: 41px;
  color: #322153;
}

main .card h3 {
  margin: 24px 0;
  font-family: Roboto, sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 34px;
  color: var(--primary-color);
}

main .card p {
  font-size: 16px;
  line-height: 26px;
  color: #6c6c80;
}
